html, button, input, select, textarea {
    color: #444;
    }
html {  font-size: 1em;
            line-height: 1.4;
            background-color: #777;
        }

#wrapper{
            min-width: 320px;
            max-width: 900px;
            margin:auto;
            background: white;
        }
.header-container{
            display: flex;
            justify-content: space-evenly;
        }


.header-item {
    float: left;
    padding: 30px;
}

#myImage {
    right: 0%;
    border: 1px solid ;
    border-color: #ccc;
    border-radius:3px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 2);
    height: 160px;
    
}

.cv-container {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}


